* {
  box-sizing: border-box;
  font-family: sans-serif;
}
.project {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.project__title {
  color: red;
  text-align: center;
  flex-basis: 100%;
}
.project-ol {
  display: flex;
  flex-wrap: wrap;
  list-style: inside;
}
.project-ol__item {
  display: flex;
  flex-basis: 100%;
  align-items: baseline;
  margin-bottom: 20px;
}
.project-ol__simple {
  display: flex;
  align-items: baseline;
  margin-left: 20px;
}
.project-ol__simple--start::before {
  content: "×";
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(233, 233, 233);
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.project-ol__simple--done {
  font-weight: bold;
  color: green;
}
.project-ol__simple--done::before {
  content: "✔";
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid green;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.project-ol__hard {
  color: red;
  display: flex;
  align-items: baseline;
  margin-left: 20px;
  font-weight: bold;
}
.project-ol__hard--start::before {
  content: "×";
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(233, 233, 233);
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.project-ol__hard--done::before {
  content: "✔";
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid green;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
